.entity-container {
  padding: 20px;
  width: 65%;
  .spesific-entity {
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
    .add-new-field-container {
      display: flex;
      margin-bottom: 30px;
      margin-left: 35px;

      input {
        width: 50%;
        margin-left: 10px;
      }
    }
    .field-list {
      height: 60vh;
      overflow-y: scroll;
      padding-right: 5px;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        height: 50px;
        background-image: -webkit-gradient(linear,
                left bottom,
                left top,
                color-stop(0.44, rgb(122, 153, 217)),
                color-stop(0.72, rgb(73, 125, 189)),
                color-stop(0.86, rgb(28, 58, 148)));
      }
      .field-list-item-edit {
        display: flex;
        font-size: 20px;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        &:not(.last) {
          margin-bottom: 20px;
        }
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border: 2px dashed rgba(235, 235, 235, .5);
        .dragable-input-zone {
          width: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50%;
          border: dashed 0.5px rgba(235, 235, 235, .5);
          span {
            font-size: 10px;
          }
        }
        height: 90px;
        .glyphicon-link {
          font-size: 20px;
        }
      }
      .field-list-item {
        display: flex;
        font-size: 20px;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        &:not(.last) {
          margin-bottom: 20px;
        }
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border: 2px solid rgba(235, 235, 235, .5);;

        height: 90px;
        .glyphicon-link {
          font-size: 20px;
        }
      }

    }
  }

  .entity-list {
    h2 {
      color: white;
    }
    .dynamic-table {
      width: 75%;
      .content {
        .cell {
          margin-top: 5px;
        }
      }
      .glyphicon-edit {
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}