.entity-container {
  padding: 20px;
  .spesific-entity {
    color: white;
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
    .list-section {
      flex: 60%;
      .add-new-field-container {
        display: flex;
        margin-bottom: 30px;
        margin-left: 35px;

        input {
          width: 50%;
          margin-left: 10px;
        }
      }
    }
    .input-section {
      flex: 40%;
    }
  }

  .entity-list {
    h2 {
      color: white;
    }
    .dynamic-table {
      width: 75%;
      .content {
        .cell {
          margin-top: 5px;
        }
      }
      .glyphicon-edit {
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

.icon-number {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon-number:after {
  content: '123';
  font-weight: bold;
}

.dayOfWeek-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.dayOfWeek-icon:after {
  content: '';
  width: 2px;
  background-color: black;
  padding: 1px;
}